.wrapper {
    background-color: black;
    height: 100%;

}

body {
    height: 100vh;
    width: 100vw;
}

.block {
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.blocke {
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;


}

.block1 {
    position: absolute;
    left: 20%;
    bottom: -20%;
    font-size: 20px;


}

.blockx {
    position: relative;
    padding: 25px;
}

.blockx2 {
    display: flex;

    position: relative;
    padding: 25px;
}

.block2 {
    position: absolute;
    bottom: 24%;
    left: 11%;
    font-size: 20px;
}

.block3 {
    position: absolute;
    left: 76%;
    bottom: 16%;
    font-size: 20px;
}

.blocky1 {
    display: flex;
    padding: 50px;
    position: relative;
}

.blockx3 {
    display: flex;
    flex-direction: column;
}

.block4 {
    position: absolute;
    left: 21%;
    bottom: 77%;
    font-size: 20px;

}

.block5 {
    position: absolute;
    left: 13%;
    bottom: 25%;
    font-size: 20px;
}

.block6 {
    position: absolute;
    left: 43%;
    bottom: 15%;
    padding: 13px;
    font-size: 30px;
}

.block7 {
    position: absolute;
    left: 79%;
    bottom: 41%;
    font-size: 20px;
}

.blockx4 {
    position: relative;
    padding: 25px;
}

.block8 {
    position: absolute;
    left: 30%;
    bottom: 15%;
    font-size: 20px;

}

.block9 {
    position: absolute;
    left: 14%;
    bottom: 41%;
    font-size: 20px;

}

.block10 {
    position: absolute;
    left: 65%;
    bottom: 41%;
    font-size: 20px;
}

.block11 {
    position: absolute;
    left: 56%;
    bottom: 41%;
    font-size: 20px;
}

.block12 {
    position: absolute;
    left: 32%;
    bottom: 11%;
    font-size: 20px;

}

.block13 {
    position: absolute;
    left: 27%;
    top: 1%;
    font-size: 20px;

}

.block14 {
    position: absolute;
    left: 42%;
    width: 24%;
    top: 4%;



}

.block15 {
    position: absolute;
    left: 67%;
    top: 149%;
    font-size: 20px;

}

.img {
    border-radius: 25px;
    width: 50px;
    margin-right: 9px;
    transition: transform 3s;

}

.blocky2 {
    position: absolute;
    left: 29%;
    top: 37%;
}

.img1 {
    width: 369px;
}

.animated {
    transition-property: transform;
    transform: translate(3px, 4px);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    --rotation-duration: 3s;
    animation: spin var(--rotation-duration) linear infinite;
}

@media (max-width: 425px) {
    .img1 {
        width: 170px;
    }

    .img {
        width: 25px;
    }

    .block {
        font-size: 16px;
    }


    .block5 {
        left: 5%;
    }

    .block1 {
        bottom: 16%;
    }

    .blocky2 {
        font-size: 14px;
        left: 31%;
    }

    .block3 {
        left: 50%;
        bottom: 6%;
    }

    .block6 {
        left: 44%;
        bottom: -27%;
    }

    .block7 {
        left: 7%;
        bottom: -20%;
    }

    .block9 {
        left: 7%;
    }

    .block10 {
        left: 62%;
    }



    .block13 {
        left: 7%;
    }

    .block14 {
        font-size: 12px;
        width: 48%;
        left: 33%;
    }

    .block15 {
        left: 2%;
        top: 85%;
    }
}